[submodule "references/SupContrast"]
	path = references/SupContrast
	url = https://github.com/ETS-Research-Repositories/SupContrast.git
[submodule "references/PyContrast"]
	path = references/PyContrast
	url = https://github.com/HobbitLong/PyContrast.git
[submodule "references/deepclustering2"]
	path = references/deepclustering2
	url = https://github.com/jizongFox/deepclustering2.git
[submodule "references/OpenSelfSup"]
	path = references/OpenSelfSup
	url = https://github.com/open-mmlab/OpenSelfSup.git
[submodule "references/Multi-View-Information-Bottleneck"]
	path = references/Multi-View-Information-Bottleneck
	url = https://github.com/jizongFox/Multi-View-Information-Bottleneck.git
[submodule "references/PCL"]
	path = references/PCL
	url = https://github.com/ETS-Research-Repositories/PCL.git
[submodule "references/DCCS"]
	path = references/DCCS
	url = https://github.com/ETS-Research-Repositories/DCCS.git
[submodule "references/clusterGAN"]
	path = references/clusterGAN
	url = https://github.com/ETS-Research-Repositories/clusterGAN.git
